/* global.css : 모든 CSS에 스타일 적용하는 파일 */

/* @import는 최상단 위치, 외부 링크를 상단에 놓아 내부에서의 설정 변경이 가능하게 할 것 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); /* font */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); /* 기본 icons */
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"); /* Outlined icon */

@import "./media-query.css";
@import "./navigation-bar.css"; /* 네비게이션 바 */
@import "./variable.css"; /* 자주 사용하는 변수 모음 */
@import "./reset.css"; /* 초기화 모음 */

* {
    box-sizing: border-box;
    /* 박스 크기는 테두리를 기준으로 = 모든 요소를 화면(앱) 안에 포함시켜라 */
}
/*
html, body {
    height: 100%;
}
*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-purple);
    color: white;
}

/* form 기본 스타일 초기화 */
input {
    border: none;
    outline: none;
    appearance: none;
}

/* 자주 쓰는 건 클래스로 등록 = 일종의 즐겨찾기 (클래스 복수 지정 가능) */
.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-relative {
    position: relative;
}