/* global.css와의 연결 */
@import "./global.css";

/* 상단 프로필 */
.user-component {
    flex-direction: column;
    padding: 20px 10px;
}
.user-component__profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.user-component__id {
    padding-top: 0.3rem;
    font-size: 1rem;
}
.add-profile-btn {
    background-color: gray;
    /* width: 70px; */
    /* height: 70px; */
    font-size: 4rem;
    font-weight: 100;
    /* color: white; */
    /* 이것들이 왜 필요한지 모르겠음 */
}
.add-profile-btn span {
    padding-bottom: 13px;
}

/* 이어보기 목록 */
.continue-watching {
    margin-bottom: 25px;
    padding: 0 20px;
    padding-bottom: 10px;
}
.continue-watching__header {
    margin-bottom: 15px;
}
.continue-watching__list {
    list-style: none; /* ul 스타일 제거 */
    display: flex;
    overflow-x: auto;
}
.continue-watching__list li {
    margin-left: 5px;
}
.continue-watching__card {
    background-color: var(--darkpurple);
    padding: 5px;
    border-radius: 15px;
}
.continue-watching__list img {
    width: 200px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover; /* 가로세로 비율 유지한 채로 지정한 크기에 맞춤 */
}
.continue-watching__title {
    display: block; /* 사진과 텍스트 사이 간격 조절 */
    margin: 2px 0;
}

/* 내가 찜한 목록 */
.wishlist {
    padding: 0 20px 10px 20px;
}
.wishlist__header {
    border-top: 1px solid var(--border-color);
    padding-top: 10px;
    margin-bottom: 10px;
}
.wishlist-item {
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkpurple);
    padding: 10px;
    border-radius: 15px;
}
.wishlist__img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.wishlist__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}
.wishlist__title {
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
}
.wishlist__desc {
    font-size: 0.9rem;
}
.wishlist-play-btn {
    background-color: var(--purple);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    opacity: 0.9;
    font-size: 9rem;
    text-align: center;
}
.wishlist-play-btn span {
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    /* 짜증남 */
}